
#cols #left,
#cols #right { width: 320px; }
#cols #right { margin-left: 20px; }

#stats_attribs
{ width: 120px; margin: 4px; border: 1px solid black; }
.char_attr.attribute
{ width: 66%; }
.char_attr.label
{
	border: 0px;
	color: white;
	background-color: black;
	font-size: 10pt;
	padding: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 44%;
	text-align: center;
}
.char_attr.value_edit
{ width: 45%; text-align: center; margin-top: 2px; }
.char_attr_bonus.attribute
{ width: 33%; text-align: center; margin-top: 2px; }

#defenses
{ width: 50px; margin-top: 4px; margin-bottom: 4px; border: 1px solid black; }
#defenses .label
{
	border: 0px;
	color: white;
	background-color: black;
	font-size: 10pt;
	text-align: center;
	width: 96%;
	padding: 1px;
}
#defenses .value_edit
{
	text-align: center;
	margin: 2px;
	margin-top: 5px;
	margin-bottom: 4px;
	width: 90%;
}

#stats_tok
{ width: 128px; margin: 4px; }

#stats_tok #Init,
#stats_tok #Speed,
#stats_attribs #AP
{ background-color: black; }

#stats_tok #Init[gtselected="true"]
{ background-color: blue; }

#stats_tok .label,
#stats_attribs #AP .label
{
	width: 60%;
	color: white;
	border: 0px;
	text-align: right;
	margin: 4px;
	font-size: 10pt;
}
#stats_tok .value_edit,
#stats_attribs #AP .value_edit
{ width: 25px; margin-top: 2px; text-align: center; }

#hp_stats,
#saves
{ margin: 4px; border: 1px solid black; }

.attribute.hp_4
{ 
	width: 25%; 
	border: 0.5px solid black; 
	text-align: center; 
}
.label.hp_4
{
	width: 100%; 
	border: 0px; 
	color: white; 
	background-color: grey; 
	text-align: center;
}
.value_edit.hp_4
{
	text-align: center;
}
.value.hp_4
{
	padding-top: 1px;
	padding-bottom: 1px;
}
#hp_stats #TempHP
{ height: 32px; vertical-align: top; }
#hp_stats #CurSurges
{ margin-bottom: 4px; vertical-align: top; }

.attribute.footer_attr
{
	width: 100%;
	background-color: black;
	text-align: center;
}
.label.footer_attr
{
	color: white;
	width: 50%;
	text-align: right;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 10pt;
	border: 0px;
}
.value_edit.footer_attr
{
	width: 40%;
	margin-left: 5px;
	margin-top: 3px;
}

#Skills .name_column_header,
#Skills #name_value { width: 120px; }
#Skills .bonus_column_header,
#Skills #bonus_value { width: 50px; }
#Skills .trained_column_header,
#Skills #trained_value { width: 45px; }
#Skills .attribute_column_header,
#Skills #attribute_value { width: 70px; }

.power_name
{ 
	width: 100%; 
	font-size: 12pt; 
}
.power_name .remove_button
{
	float: none;
	position: relative;
	top: 3px;
}
.power_name .list_item_collapse,
.power_name .list_item_expand
{
	float: none;
	position: relative;
	top: 3px;
	margin-left: 3px;
	margin-right: 4px;
}

#Powers #name
{
	margin-top: 2px; 
	margin-bottom: 2px; 
	width: 100%; 
	padding-top: 2px; 
	padding-bottom: 2px; 
}
#Powers #name_value
{ width: 78%; }
#Powers #keywords_value { height: 22px; }
#Powers #used { width: 20px; height 20px; }

#MIUsed
{ padding-top: 2px; padding-bottom: 2px; background-color: grey; }
#MIUsed .label
{
	border: 0px;
	color: black;
	font-size: 10pt;
	width: 60%;
	text-align: right;
	margin-right: 4px;
	color: white;
}
